body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    max-height: 500%;
}
h1, h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.input-section{
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items:center ;
    padding: 7px;
}
.input-section label{
    font-weight: bold;
    margin-right: 10px;
}
.input-section input[type="number"], .input-section input[type="date"] {
    padding: 5px;
    margin-right: 10px;
}
.input-section button{
    padding: 1em;
    background-color: aqua;
    color: black;
    border:none ;
    border-radius: 20%;
    cursor: pointer;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    border:1px solid palevioletred ;
    padding:9px ;
    text-align:left;
}
th{
    background-color: blueviolet;
    color: white;
}
tfoot{
    font-weight: bold;
}
.expenses-list{
    padding: 8px 10px;
    background-color:skyblue;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 7%;
    margin-left: 2%;
    margin-right: 2%;
}